In [1]:
# Interchange first and elements using Temporary Values

**Find the length of the list and simply swap the first element with (n-1)th element.**

In [3]:
def swaplist(newlist):
  size=len(newlist)

  temp=newlist[0]
  newlist[0]=newlist[size-1]
  newlist[size-1]=temp

  return newlist

newlist=[12,23,44,54,65,76]
print(swaplist(newlist))

[76, 23, 44, 54, 65, 12]

In [4]:
def swaplist(list):
  get=list[-1], list[0]
  list[0], list[-1]=get

  return list
newlist=[12,34,56,76,76]
print(swaplist(newlist))

[76, 34, 56, 76, 12]

In [6]:
#swap first and last value in a list in python using * operands

list=[1,2,3,4]
a, *b,c=list

print(a)
print(b)
print(c)

1
[2, 3]
4

In [7]:
# reverse the list

a=[1,2,3,4,5]
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [8]:
rev=a[::-1]
rev

[1, 2, 3, 4, 5]

In [9]:
b=[2,3,4,5,6]
rev=[]

for val in b:
  rev.insert(0, val)
print(rev)

[6, 5, 4, 3, 2]

In [10]:
# Using a loop

a=[1,2,3,4,5,6,7,8,9,10]

start, end=2,6

while start < end:
  a[start], a[end]=a[end], a[start]

  start+=1
  end-=1

print(a)

[1, 2, 7, 6, 5, 4, 3, 8, 9, 10]

In [11]:
a=[1,2,3,4,5]

rev=[a[i] for i in range(len(a) -1, -1, -1)]
print(rev)

[5, 4, 3, 2, 1]

**SUM OF NUMBERS IN LIST IN PYTHON**

In [12]:
def dsum(val):
  total=0

  while val>0:
    total+=val%10

    val//=10

  return total

a=[123,456,789]

res=[dsum(val) for val in a]
print(res)

[6, 15, 24]